{% extends "master.html" %}
{% load static %}

{% block title %}Home - Laboratório HP2{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div class="page-header" id="header">
    <h1><i class="fas fa-home"></i> Bem-vindo ao Laboratório HP2</h1>
</div>

<div class="row mb-4">

    <div class="col-md-3 mb-4">
        <div class="card text-center custom-card">
            <div class="card-body">
                <i class="fas fa-user-md fa-3x mb-3"></i>
                <h5>Dentistas</h5>
                <p>Gerenciar dentistas</p>
                <a href="{% url 'dentista:dentista' %}" class="custom-btn">Acessar</a>
            </div>
        </div>
    </div>

    <!-- <div class="col-md-3 mb-4">
        <div class="card text-center custom-card">
            <div class="card-body">
                <i class="fas fa-tooth fa-3x mb-3"></i>
                <h5>Laboratórios</h5>
                <p>Gerenciar laboratórios</p>
                <a href="{% url 'laboratorio:laboratorio' %}" class="custom-btn">Acessar</a>
            </div>
        </div>
    </div> -->

    <!-- <div class="col-md-3 mb-4">
        <div class="card text-center custom-card">
            <div class="card-body">
                <i class="fas fa-users fa-3x mb-3"></i>
                <h5>Pacientes</h5>
                <p>Gerenciar pacientes</p>
                <a href="{% url 'cliente:cliente' %}" class="custom-btn">Acessar</a>
            </div>
        </div>
    </div> -->

    <div class="col-md-3 mb-4">
        <div class="card text-center custom-card">
            <div class="card-body">
                <i class="fas fa-wrench fa-3x mb-3"></i>
                <h5>Serviços</h5>
                <p>Gerenciar serviços</p>
                <a href="{% url 'servico:servico' %}" class="custom-btn">Acessar</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card text-center custom-card">
            <div class="card-body">
                <i class="fas fa-calendar fa-3x mb-3"></i>
                <h5>Calendário</h5>
                <p>Gerenciar calendário</p>
                <a href="{% url 'cronograma:cronograma' %}" class="custom-btn">Acessar</a>
            </div>
        </div>
    </div>

</div>

<script src="{% static 'js/main.js' %}"></script>

{% endblock %}